.env
node_modules/
.env _render
.env_render

# Ignora o conteúdo de uploads mas mantém as pastas no Git
uploads/*
!uploads/.gitkeep
!uploads/rascunhos/
uploads/rascunhos/*
!uploads/rascunhos/.gitkeep
!uploads/rascunhos/*.json