/* =========================
   CONTAINER
========================= */

.container {
    margin: 90px 40px 40px 300px;
    padding: 20px;

    width: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

/* =========================
   CARD VERDE
========================= */

.forma {
    width: 100%;
    max-width: 1100px;

    background: #E9FFD3;
    border-radius: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    padding: 50px;
}

/* =========================
   TEXTO
========================= */

.texto {
    flex: 1;
}

.texto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.texto p {
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
}

/* =========================
   IMAGEM
========================= */

.imagem {
    width: 100%;
    max-width: 420px;
    height: auto;
}

/* =========================
   BOTÃO
========================= */

.botao {
    margin-top: 30px;
    background: #FFCAD4;
    border: none;
    border-radius: 50px;

    width: 140px;
    height: 42px;

    cursor: pointer;
    transition: .2s;
}

.botao:hover {
    background: #FFB8C5;
}

/* =========================
   NOTEBOOKS
========================= */

@media (max-width: 1200px) {

    .container {
        padding-left: 90px;
        padding-right: 30px;
    }

    .forma {
        gap: 30px;
        padding: 40px;
    }

    .imagem {
        max-width: 340px;
    }

}

/* =========================
   TABLETS
========================= */

@media (max-width: 992px) {

       .container {
        margin: 90px 20px 20px 90px;
    }

    .forma {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 30px;
    }

    .texto h2 {
        font-size: 1.8rem;
    }

    .texto p {
        text-align: center;
    }

    .botao {
        margin: 30px auto 0;
    }

    .imagem {
        max-width: 300px;
    }

}

@media (max-width: 768px) {
    .container {
        margin: 90px 15px 15px 15px;
    }
}

/* =========================
   CELULARES
========================= */

@media (max-width: 576px) {

    .container {
        padding: 100px 15px 20px;
    }

    .forma {
        border-radius: 30px;
        padding: 25px;
    }

    .texto h2 {
        font-size: 1.5rem;
    }

    .texto p {
        font-size: .95rem;
    }

    .imagem {
        max-width: 220px;
    }

    .botao {
        width: 100%;
        max-width: 220px;
    }

}


